<% layout('layouts/boilerplate') %>
<body>
    
    <h1 class="mt-5">Edit the listing</h1>
    <br>
    <form action="/listings/<%= listing._id %>?_method=PUT" method="post" class="needs-validation" novalidate enctype="multipart/form-data">
        <div class="row">
            <div>
        <label for="title" class="form-label">Title</label>
        <input type="text" name="listing[title]" id="title" value="<%= listing.title %>" class="form-control" required>
        <div class="valid-feedback">Looks good!</div>
        <div class="invalid-feedback">Please enter a title</div>

        </div>
        <div>
        <label for="description" class="form-label">Description</label>
        <input type="text" name="listing[description]" id="description" value="<%= listing.description %>" 
        class="form-control" required>
        <div class="valid-feedback">Looks good!</div>
        <div class="invalid-feedback">Please enter a description</div>
        </div>

        <div>
            <p>Current Image</p><br>
        <img src="<%= originalImageUrl %>" alt="">
        </div>
        <div>
        <label for="image" class="form-label">Image</label>
        <input type="file" name="listing[image]" id="image" class="form-control" >
        <div class="valid-feedback">Looks good!</div>
        </div>
        <div class="col-4">

        
        <label for="price" class="form-label" >Price</label>
        <input type="number" name="listing[price]" id="price" value="<%= listing.price %>" class="form-control" required>
        <div class="valid-feedback">Looks good!</div>
        <div class="invalid-feedback">Please enter a price</div>
        </div>
            <div class="col-8">
  <label for="category" class="form-label">Category</label>

<select name="listing[category]" class="form-select" required>
  <option value="beach" <%= listing.category === "beach" ? "selected" : "" %>>Beach</option>
  <option value="mountain" <%= listing.category === "mountain" ? "selected" : "" %>>Mountain</option>
  <option value="city" <%= listing.category === "city" ? "selected" : "" %>>City</option>
  <option value="historic" <%= listing.category === "historic" ? "selected" : "" %>>Landmark</option>
  <option value="forest" <%= listing.category === "forest" ? "selected" : "" %>>Forest</option>
  <option value="snow" <%= listing.category === "snow" ? "selected" : "" %>>Snow</option>
  <option value="nature" <%= listing.category === "nature" ? "selected" : "" %>>Nature</option>
  <option value="urban" <%= listing.category === "urban" ? "selected" : "" %>>Urban</option>
</select>


  <div class="valid-feedback">Looks good!</div>
  <div class="invalid-feedback">Please select a category</div>
</div>
        <div class="col-4">
        <label for="location" class="form-label">Location</label>
        <input type="text" name="listing[location]" id="location" value="<%= listing.location %>" class="form-control" required>
        <div class="valid-feedback">Looks good!</div>
        <div class="invalid-feedback">Please enter a location</div>
        </div>
        <div class="col-8">
        <label for="country" class="form-label">Country</label>
        <input type="text" name="listing[country]" id="country" value="<%= listing.country %>" class="form-control" required>
        <div class="valid-feedback">Looks good!</div>
        <div class="invalid-feedback">Please enter a country</div>
        </div>
        </div>
        <br>
        <button type="submit" class="btn btn-primary newBtn">Submit</button>
        
    </form>
    <br>
</body>
