<% layout('layouts/boilerplate') %>
<body>
  <!-- Mobile Filter Trigger -->
<button class="mobile-filter-btn" id="openFilters">
  <i class="fa-solid fa-sliders"></i>
  Filters
</button>

 <div class="filters filter-panel" id="filterPanel">

<form action="/listings/filter" method="get">
  <p>Filter <i class="fa-solid fa-filter"></i></p>

  <button
    type="submit"
    name="category"
    value="all"
    class="filter-btn <%= category === 'all' ? 'active' : '' %>">
    <i class="fa-solid fa-globe"></i> All
  </button>

  <button
    type="submit"
    name="category"
    value="beach"
    class="filter-btn <%= category === 'beach' ? 'active' : '' %>">
    <i class="fa-solid fa-umbrella-beach"></i> Beach
  </button>

  <button
    type="submit"
    name="category"
    value="mountain"
    class="filter-btn <%= category === 'mountain' ? 'active' : '' %>">
    <i class="fa-solid fa-mountain"></i> Mountain
  </button>

  <button
    type="submit"
    name="category"
    value="forest"
    class="filter-btn <%= category === 'forest' ? 'active' : '' %>">
    <i class="fa-solid fa-tree"></i> Forest
  </button>

  <button
    type="submit"
    name="category"
    value="city"
    class="filter-btn <%= category === 'city' ? 'active' : '' %>">
    <i class="fa-solid fa-city"></i> City
  </button>

  <button
    type="submit"
    name="category"
    value="landmark"
    class="filter-btn <%= category === 'landmark' ? 'active' : '' %>">
    <i class="fa-solid fa-landmark"></i> Landmark
  </button>

  <button
    type="submit"
    name="category"
    value="snow"
    class="filter-btn <%= category === 'snow' ? 'active' : '' %>">
    <i class="fa-solid fa-snowflake"></i> Snow
  </button>

  <button
    type="submit"
    name="category"
    value="nature"
    class="filter-btn <%= category === 'nature' ? 'active' : '' %>">
    <i class="fa-solid fa-leaf"></i> Nature
  </button>

  <button
    type="submit"
    name="category"
    value="urban"
    class="filter-btn <%= category === 'urban' ? 'active' : '' %>">
    <i class="fa-solid fa-building"></i> Urban
  </button>
</form>

  </div>
  <h1>All Listings</h1>
  <div class="row row-cols-lg-3 row-cols-md-2 row-cols-sm-1">
    <% for( let listing of listings ) { %>
    <a href="/listings/<%= listing._id %>" class="text-decoration-none">
      <div class="card col listing-card">
        <img
          src="<%= listing.image.url %>"
          class="card-img-top"
          alt="listing_image"
        />
        <div class="card-img-overlay">
          <h5 class="card-title">
            <%= listing.location %>,<%= listing.country %>
          </h5>
        </div>
        <div class="card-body">
          <p class="card-text"><b><%= listing.title %></b></p>

          <p class="card-text">
            &#8377; <% if (listing.price != null) { %> <%=
            listing.price.toLocaleString("en-IN") %> <% } else { %> N/A <% } %>
            /Night
          </p>
        </div>
      </div>
    </a>
    <% } %>
  </div>
</body>
<script>
  const openBtn = document.getElementById("openFilters");
  const panel = document.getElementById("filterPanel");

  if (openBtn && panel) {
    openBtn.addEventListener("click", () => {
      panel.classList.toggle("active");
    });
  }
</script>