<% layout('layouts/boilerplate') %>

<body>
    <br>
    <div class="row">
    <div class="card col-12" >
      <h1><%= listing.title %></h1>
        
  <img src="<%= listing.image %>" class="card-img-top showImg" alt="listing_image" >
  <br>
  <div class="card-body">
        <p class="card-text">Owned by <i><%= listing.owner.username %></i></p>
          
         <p class="card-text"><%= listing.description %></p>
 <p class="card-text"> &#8377; 
  <% if (listing.price != null) { %>
    <%= listing.price.toLocaleString("en-IN") %>
  <% } else { %>
    N/A
  <% } %>
 </p>
 

         <p class="card-text"><%= listing.location %></p>
         <p class="card-text"><%= listing.country %></p>
  
        <% if(currentUser && listing.owner._id.equals(currentUser._id)) { %>
        <div class="btns">
          <div class="d-flex col gap-2">
         <a href="/listings/<%= listing._id %>/edit" class="btn btn-primary newBtn">Edit</a>
         <form action="/listings/<%= listing._id %>?_method=DELETE" method="post">
             <button class="btn btn-primary newBtn">Delete</button>
         </form>
         </div>
        </div>
      <% } %>
  </div>
    
</div>
<div>
  <hr>
  <% if(currentUser) { %>
  <h4>Leave a Review</h4>
  <form action="/listings/<%= listing._id %>/reviews" method="post" class="needs-validation" novalidate>
    <div class="row">
      <!-- <div class="col-6">
        <label for="name" class="form-label">Name</label>
        <input type="text" name="name" id="name" class="form-control" placeholder="Name" required>
        <div class="valid-feedback">Looks good!</div>
        <div class="invalid-feedback">Please enter a name</div>
      </div> -->
      <div class="col-6">
        <label for="rating" class="form-label">Rating</label>
        <input type="range" name="review[rating]" id="rating" class="form-range" min="0" max="5" placeholder="Rating" required>
        

        <div class="valid-feedback">Looks good!</div>
        <div class="invalid-feedback">Please enter a rating</div>
      </div>
    </div>
    <div class="row mb-3">
      <div class="col-12">
        <label for="comment" class="form-label">Comment</label>
        <textarea name="review[comment]" id="comment" class="form-control" placeholder="Comment" required></textarea>
        <div class="valid-feedback">Looks good!</div>
        <div class="invalid-feedback">Please enter a comment</div>
      </div>
    </div>
    <button type="submit" class="btn newBtn btn-secondary">Submit</button>
  </form>
  <hr>
<% } %>

  <br>
  <h4>All Reviews</h4>
<div class="row">
  <% if (listing.reviews.length > 0) { %>
    <% for (let i = 0; i < listing.reviews.length; i++) { %>

      <div class="col-md-6 mb-3">
        <div class="card h-100">
          <div class="card-body">

            <h5 class="card-title">
              @<%= listing.reviews[i].author.username %>
            </h5>

            <h6 class="card-subtitle mb-2 text-muted">
              <%= listing.reviews[i].rating %>/5
            </h6>

            <p class="card-text">
              <%= listing.reviews[i].comment %>
            </p>

            <% if (currentUser && listing.reviews[i].author.username === currentUser.username) { %>
              <form
                action="/listings/<%= listing._id %>/reviews/<%= listing.reviews[i]._id %>?_method=DELETE"
                method="POST"
              >
                <button class="btn btn-danger btn-sm">
                  Delete
                </button>
              </form>
            <% } %>

          </div>
        </div>
      </div>

    <% } %>
  
</div>

  <% } else { %>
    <p>No reviews yet</p>
  <% } %>


</div>

     
</body>
